<h1>「とびだせ！どうぶつの森」のマイデザインを画像から自動的に作るジェネレーターです。</h1><br>
<h2>32 x 32 のドット絵を出力するので、画像は正方形のものを使いましょう。<br>
    GIF,JPEG,PNGに対応しています。透過部分は黒くなってしまいますので色をつけてください。<br>
    画像の大きさは300kb以下としてください。<br>
    ファイルは10分くらいで消えるので、保存したい場合は印刷かPDFなどに落としてください。<br>
</h2>
<br>
<br>


 <%= form_for @dotimage do |f| %>
  <div class = 'span2'><%#= f.label :name %></div>
  <div class = 'span3'><%#= f.text_field :name %></div>
  <div class = 'span2'><%= f.file_field :resized_image %></div>
  <div class = 'span2'><%= f.submit %></div>
 <% end %>
<br>
