body {
text-align: center;
font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Verdana, 'ＭＳ Ｐゴシック', Osaka,Arial, Helvetica, sans-serif;
font-size:12px;/*基本の文字サイズ*/
line-height:1;
color:#444444; /*基本の文字色*/
margin:auto;
width: 100%;
}

h1,h2,h3,p,div,ul,ol,li,dl,dd,dt,form,blockquote,pre,address{
  margin : auto;
  padding : 0;
}

/*共通デザイン*/
/*IMGボーダー非表示*/
img  {
border: none;
vertical-align:top;
}

/* float指定時利用 */
.clearfix:after {
 content: ".";
 display: block;
 height: 0;
 line-height: 0;
 clear: both;
 visibility: hidden;
}
.clearfix { display: inline-block; }

/* MacIE用 */
*+html .clearfix { height: 1%; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }


/*タイトル文字*/
h1 {
font-size:16px;
line-height:1.2;
font-weight:bold ;
margin:0;
padding:0;
position:center;
}

/* タイトル下のテキスト文字サイズ*/
h2{
font-size:12px; 
line-height:2;
font-weight:normal;
margin:0px;
padding:0px 10px
}

/*各詳細ページの見出し*/
h3{
font-size:12px;
line-height:2.4;
font-weight:bold;
}

p {
padding: 0px;
margin: 5px 0px;
}

/*container*/
#container {
  width: 90%;
}

#image_box {
  width: 200px;
  float: left;
}

#dot_box {
  width: 700px;
  float: left;
}

#dot_box table {
  font-size: 8px;
  border: 1px;
}

#dot_box th, #dot_box td, #dot_box tr {
  width: 15px;
  height: 15px;
}

#palette_box {
  width: 150px;
  float: right;
}

#palette_box table {
  font-size: 12px;
}

#palette_box td, #palette_box tr {
  width: 50px;
  height:30px;
}

#container_fotter {
  width: 100%;
  clear: left;
} 


/*table*/
/*table {
  border: 1px;
}

th, td {
  width: 15px;
  height: 15px;
  font-size: 8px;
}
*/


/*中央コンテンツ設定*/

#main {
  margin: 0px 230px;
  border-right: 1px #9d9d9d solid;
  border-left: 1px #9d9d9d solid;
  border-top: 0px;
  border-bottom: 0px;
  padding-bottom: 32768px;
  margin-bottom: -32768px;
  background:#FFFFFF;
}

.slideshow {
  width: 100%; 
  margin:auto;
}

.slideshow img {
  width:100%;
  margin:auto;
}

.slideshowtop{
  width:100%;
  margin-left:auto;
}

.slideshowtop img{
  width:720px;
  height:540px;
  margin-left:auto;

}

#main_cont {
  width:100%;
  line-height:1;
  padding:5px 0px;
  height:auto;
}


/*ヘッダー設定*/
#header_pict {
  margin:0px;
  background-color:#FFC473;
  width:100%;
}

#header_pict img {
  width:100%;
}

#header_cont {
  margin:0px;
  background-color:#FFC473;
  border-bottom:#9d9d9d solid 1px;
  width:100%;
  padding:5px 0px;
}

/*フッター設定*/
#footer {
  padding:0px;
  background-color: #FFC473;
  border-bottom: #9d9d9d solid 1px;
  width: 90%;
  margin:auto;
  clear : both;
}

#footer p {
   line-height:1.2;
   font-family:Osaka,Verdana,Arial,Helvetica,sans-serif;
   font-weight:normal;
   margin:0px;
   padding:5px 0px;
   text-align:center;
}
 
/*サムネイル表示*/

ul.thumbnail { 
	list-style-type: none;
	padding: 0px;
	margin:3px 2px 3px 3px;
	 }

ul.thumbnail li {
 float: left;
 margin: 2px;
 height: 100%;
 list-style-type: none;
}

ul.thumbnail img {
  width: 105px;
/*  height: 80px; */
 margin: 2px 0px; 
}

ul.thumbnail li a { display: block; }


/* 詳細ページコンテンツ設定 */
#main h2 {
  margin:auto;
  line-height:3;
  padding: 5px;
  font-weight: bold;
  font-size: 12px;
  font-height: 1.5;
  text-align:left;
  }
  
#main p {
   line-height:2;
   font-family:Osaka,Verdana,Arial,Helvetica,sans-serif;
   margin:0px;
   padding:5px 5px;
   color:#444444;
   text-align:left;
}


#main img {
  width: 100%;
  margin: auto;
}

/*まだ未使用*/
/*TABLEボーダー非表示*/
/*table  {
border:none;
}


/*IE--BRバグ回避*/
br  {
letter-spacing:normal;
}


/*普通のテキストリンク-----------------*/
a:link    {text-decoration:underline;color:#333399;}  /*テキストリンクの色*/
a:visited {text-decoration:underline;color:#333399;}  /*訪問済みのリンクの色*/ 
a:active  {text-decoration:underline;color:#333399;}   /*クリック時のリンクの色*/
a:hover   {text-decoration:underline;color:#333399;}  /*マウスの上にカーソルがあるときのリンクの色*/



/*ページのタイトル部分のみのテキストリンク-----------------*/
h1 a:link       {color:#FFFFFF;text-decoration:none;}  /*メニュー・テキストリンクの色*/
h1 a:visited    {color:#FFFFFF;text-decoration:none;}   /*メニュー・訪問済みのリンクの色*/
h1 a:active     {color:#FFFFFF;text-decoration:none;}   /*メニュー・クリック時のリンクの色*/
h1 a:hover      {color:#FFFFFF;text-decoration:none;}   /*メニュー・マウスの上にカーソルがあるときのリンクの色*/

