body {
text-align: center;
font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Verdana, 'ＭＳ Ｐゴシック', Osaka,Arial, Helvetica, sans-serif;
font-size:12px;/*基本の文字サイズ*/
line-height:1;
color:#444444; /*基本の文字色*/
background-color: #f8f8f8;
margin:auto;
width: 100%;
}

h1,h2,h3,p,div,ul,ol,li,dl,dd,dt,form,blockquote,pre,address{
  margin : auto;
  padding : 0;
}

/*共通デザイン*/
/*IMGボーダー非表示*/
img  {
border: none;
vertical-align:top;
}

/* float指定時利用 */
.clearfix:after {
 content: ".";
 display: block;
 height: 0;
 line-height: 0;
 clear: both;
 visibility: hidden;
}
.clearfix { display: inline-block; }

/* MacIE用 */
*+html .clearfix { height: 1%; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }


/*タイトル文字*/
h1 {
font-size:16px;
line-height:1.2;
font-weight:bold ;
margin:0;
padding:0;
position:center;
}

/* タイトル下のテキスト文字サイズ*/
h2{
font-size:12px; 
line-height:2;
font-weight:normal;
margin:0px;
padding:0px 10px
}

/*各詳細ページの見出し*/
h3{
font-size:12px;
line-height:2.4;
font-weight:bold;
}

p {
padding: 0px;
margin: 5px 0px;
}

/*container*/
#container {
  width: 90%;
}

#image_box {
  width: 200px;
  float: left;
}

#dot_box {
  width: 700px;
  float: left;
}

#dot_box table {
  font-size: 8px;
  border: 1px;
}

#dot_box th, #dot_box td, #dot_box tr {
  width: 15px;
  height: 15px;
}

#palette_box {
  width: 150px;
  float: right;
}

#palette_box table {
  font-size: 12px;
}

#palette_box td, #palette_box tr {
  width: 50px;
  height:30px;
}

#container_footer {
  width: 100%;
  clear: left;
}


/*フッター設定*/
#footer {
  padding:0px;
  width: 70%;
  margin:auto;
  clear : both;
}

#footer table {
  border: 1px;
  float: left;
  margin: 3px;
}

#footer tr, #footer td {
  height: 25px;
  width: 25px;
}



/*IE--BRバグ回避*/
br  {
letter-spacing:normal;
}


/*普通のテキストリンク-----------------*/

a:link    {text-decoration:underline;color:#333399;}  /*テキストリンクの色*/
a:visited {text-decoration:underline;color:#333399;}  /*訪問済みのリンクの色*/ 
a:active  {text-decoration:underline;color:#333399;}   /*クリック時のリンクの色*/
a:hover   {text-decoration:underline;color:#333399;}  /*マウスの上にカーソルがあるときのリンクの色*/



/*ページのタイトル部分のみのテキストリンク-----------------*/
h1 a:link       {color:#FFFFFF;text-decoration:none;}  /*メニュー・テキストリンクの色*/
h1 a:visited    {color:#FFFFFF;text-decoration:none;}   /*メニュー・訪問済みのリンクの色*/
h1 a:active     {color:#FFFFFF;text-decoration:none;}   /*メニュー・クリック時のリンクの色*/
h1 a:hover      {color:#FFFFFF;text-decoration:none;}   /*メニュー・マウスの上にカーソルがあるときのリンクの色*/

